In [10]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as utd

real = utd.read_csv(r"/content/drive/MyDrive/Telegram_bot/laliga_17_18.csv")
real.columns

In [40]:
real.rename(columns = {'HomeTeam':'Uy','AwayTeam':'Mehmon', 'Date':'Sana',
                       'FTR':"G'olib", 'FTHG':'Uy_gol', 'FTAG':'Mehmon_gol', 
                       'HR':'Uy_qizil', 'AR':'Mehmon_qizil', 'HY':'Uy_sariq', 
                       'AY':'Mehmon_sariq'}, inplace=True)
# rename == qayta nomlash
# inplace -> o'zgartirishlarni saqlab qolish

In [ ]:
real.drop(columns=['Liga', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
                   'B365H','B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH',
                   'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD',
                   'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA',
                   'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
                   'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'], inplace=True)
# drop == olib tashlash

In [42]:
real[(real['Uy'].str.contains('Real') | real['Mehmon'].str.contains('Real')) 
      & ((real['Uy_gol'] - real['Mehmon_gol'] >= 3) | (real['Mehmon_gol'] - real['Uy_gol'] >= 3))] 
# Real Madrid klubi qaysi o'yinlarda 3 ta gol farqi bilan g'olib yoki mag'lub bo'lgan bo'lsa o'sha ma'lumotni qaytaradi

,Sana,Uy,Mehmon,Uy_gol,Mehmon_gol,G'olib,Uy_sariq,Mehmon_sariq,Uy_qizil,Mehmon_qizil
7,20/08/17,La Coruna,Real Madrid,0,3,A,5,1,0,1
86,22/10/17,Real Madrid,Eibar,3,0,H,1,1,0,0
107,05/11/17,Real Madrid,Las Palmas,3,0,H,2,1,0,0
143,09/12/17,Real Madrid,Sevilla,5,0,H,0,2,0,0
167,23/12/17,Real Madrid,Barcelona,0,3,A,2,2,1,0
196,21/01/18,Real Madrid,La Coruna,7,1,H,0,2,0,0
202,27/01/18,Valencia,Real Madrid,1,4,A,2,3,0,0
222,10/02/18,Real Madrid,Sociedad,5,2,H,2,1,0,0
244,24/02/18,Real Madrid,Alaves,4,0,H,1,2,0,0
288,18/03/18,Real Madrid,Girona,6,3,H,1,2,0,0
292,31/03/18,Las Palmas,Real Madrid,0,3,A,3,0,0,0
366,12/05/18,Real Madrid,Celta,6,0,H,0,1,0,0

In [ ]:
real['Uy'].unique() # Uyda o'yin o'tkazgan jamoalar

In [ ]:
real['G\'olib'].value_counts() # G'oliblar 
# H -> Uy, A -> Mehmon, D -> durang

In [ ]:
real['Sana'].nunique() # Jami 137 kunda o'yinlar bo'lib o'tgan

In [ ]:
real['Uy_gol'].unique() # jamoalar uyida 7 tagacha gol urishgan.

In [ ]:
real['Mehmon_gol'].unique() # jamoalar mehmonda 6 tagacha gol urishgan.

In [ ]:
real.Uy.value_counts() # Uyda o'tkazilgan o'yinlar

In [ ]:
real.groupby('Uy').get_group('Real Madrid') # Real Madrid ning uyidagi o'yinlarini tanlab ol

In [ ]:
real[(real['Uy_qizil'] >= 1) & (real['Mehmon_qizil'] >= 1)] 
# Mezbon va mehmon jamoadan 1 tadan ko'p qizil kartochka bo'lgan o'yinlar ma'lumotini qaytaradi

In [ ]:
# Mezbon va mehmon jamoadan 5 tadan ko'p sariq kartochka bo'lgan o'yinlar ma'lumotini qaytaradi
real[(real['Uy_sariq'] >= 5) & (real['Mehmon_sariq'] >= 5)]

In [38]:
real.columns # ustunlarni qaytaradi

Index(['Sana', 'Uy', 'Mehmon', 'Uy_gol', 'Mehmon_gol', 'G'olib', 'Uy_sariq',
       'Mehmon_sariq', 'Uy_qizil', 'Mehmon_qizil'],
      dtype='object')